<div class="section-content">
    <div
    class="mobile-carousel xl:hidden"
    appAppearOnMobile
    (appearOnlyOnMobile)="mobileBannerStatusEventHandler($event)"
    >
        @if (showMobileBanner$()) {
            <app-mobile-banner-carousel
                [automatic]="true"
                [bannerItems]="bannerItems"
                appWindowFocus
            />
        }@else {}
    </div>
    <div
    class="desktop-carousel hidden xl:block"
    appAppearOnDesktop
    (appearOnlyOnDesktop)="desktopBannerStatusEventHandler($event)"
    >
        @if (showDesktopBanner$()) {
            <app-desktop-banner-carousel
                [automatic]="true"
                [bannerItems]="bannerItems"
                appWindowFocus
            />
        }@else {}
    </div>
</div>