<div class="section-content bg-primary py-10">
    <div class="limited-container">
        <div class="title-section flex flex-col gap-y-4 xl-1230:max-w-[42.875rem]" #titleSectionElementRef>
            <h6 class="font-['Bricolage-Grotesque'] text-sm text-white">
                Comprometimento
            </h6>
            <h1 class="font-['Bricolage-Grotesque'] text-[2rem] md:text-[2.5rem] font-semibold text-white leading-[38.4px] md:leading-[48px] -tracking-[0.16px] md:-tracking-[0.2px]">
                Ser quem realmente você é, é infinitamente melhor!
            </h1>
            <p class="text-white/60 text-base">
                A Neutro tem como propósito, promover uma cultura transformadora, ajudando as pessoas a viverem de forma mais genuína e autêntica. 
            </p>
        </div>
    </div>

    <div class="content-boxes mt-12 xl-1230:mt-20 w-full overflow-hidden" #itemsContainerElement>
        <div class="boxes w-max flex flex-col gap-6 md:flex-row"
        [style.paddingLeft.px]="this.paddingX"
        [style.paddingRight.px]="this.paddingX"
        >

            <div class="box p-6 rounded-lg bg-white/[0.05] w-[358px] xl-1230:w-[416px]">
                <div class="icon mb-6">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="48" height="48" rx="24" fill="white" fill-opacity="0.1"/>
                        <path d="M34 24H32M31.071 31.0711L29.6567 29.6569M16 24H14M18.3429 18.3432L16.9287 16.929M24 16V14M29.6567 18.3432L31.071 16.929M24 34V32M16.9287 31.0711L18.3429 29.6569M24 19L25.545 22.13L29 22.635L26.5 25.07L27.09 28.51L24 26.885L20.91 28.51L21.5 25.07L19 22.635L22.455 22.13L24 19Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="highlight">
                    <h1 class="font-['Bricolage-Grotesque'] text-2xl font-semibold text-white">
                        Confiança
                    </h1>
                    <p class="text-white/60 text-base mt-4">
                        Seu estilo é a manifestação da sua personalidade, então vista-se com confiança e deixe sua marca no mundo
                    </p>
                </div>
            </div>
            <div class="box p-6 rounded-lg bg-white/[0.05] w-[358px] xl-1230:w-[416px]">
                <div class="icon mb-6">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="48" height="48" rx="24" fill="white" fill-opacity="0.1"/>
                        <path d="M17.8069 30.5304C17.8246 30.5005 17.8427 30.4709 17.8613 30.4413C19.2158 28.2881 19.9999 25.7418 19.9999 23C19.9999 20.7909 21.7908 19 23.9999 19C26.209 19 27.9999 20.7909 27.9999 23C27.9999 24.017 27.9307 25.0186 27.7966 26M25.6792 32.8436C26.2909 31.6226 26.7924 30.3369 27.1707 29M31.0097 30.132C31.6547 27.8657 32 25.4732 32 23C32 18.5817 28.4183 15 24 15C22.5429 15 21.1767 15.3896 20 16.0703M15 27.3641C15.6407 26.0454 16 24.5646 16 23C16 21.5429 16.3896 20.1767 17.0703 19M23.9999 23C23.9999 26.5172 22.9911 29.7988 21.2471 32.5712" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="highlight">
                    <h1 class="font-['Bricolage-Grotesque'] text-2xl font-semibold text-white">
                        Autenticidade
                    </h1>
                    <p class="text-white/60 text-base mt-4">
                        Nunca troque sua autenticidade por aprovação.
                    </p>
                </div>
            </div>
            <div class="box p-6 rounded-lg bg-white/[0.05] w-[358px] xl-1230:w-[416px]">
                <div class="icon mb-6">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="48" height="48" rx="24" fill="white" fill-opacity="0.1"/>
                        <path d="M24 34C29.5228 34 34 29.5228 34 24C34 18.4772 29.5228 14 24 14C18.4772 14 14 18.4772 14 24C14 29.5228 18.4772 34 24 34Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24 30C27.3137 30 30 27.3137 30 24C30 20.6863 27.3137 18 24 18C20.6863 18 18 20.6863 18 24C18 27.3137 20.6863 30 24 30Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24 26C25.1046 26 26 25.1046 26 24C26 22.8954 25.1046 22 24 22C22.8954 22 22 22.8954 22 24C22 25.1046 22.8954 26 24 26Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24 34C29.5228 34 34 29.5228 34 24C34 18.4772 29.5228 14 24 14C18.4772 14 14 18.4772 14 24C14 29.5228 18.4772 34 24 34Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24 30C27.3137 30 30 27.3137 30 24C30 20.6863 27.3137 18 24 18C20.6863 18 18 20.6863 18 24C18 27.3137 20.6863 30 24 30Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24 26C25.1046 26 26 25.1046 26 24C26 22.8954 25.1046 22 24 22C22.8954 22 22 22.8954 22 24C22 25.1046 22.8954 26 24 26Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="highlight">
                    <h1 class="font-['Bricolage-Grotesque'] text-2xl font-semibold text-white">
                        Foco
                    </h1>
                    <p class="text-white/60 text-base mt-4">
                        Tudo começa com uma escolha simples, decidir dar pequenos passos de evolução a cada dia.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="controllers hidden md:block mt-12 xl-1230:hidden">
        <div class="limited-container flex justify-between items-center">

            <div class="dots-indicators px-2 py-3 flex gap-x-2 justify-start items-center">
                @for (dot of itemsArray; track $index) {
                    <div class="dot w-2 h-2 rounded-full bg-[rgba(239,239,239,0.40)]"
                    [ngClass]="{ 'active': $index === activeIndex }"
                    (click)="this.slideTo($index)"
                    ></div>
                }
            </div>
            <div class="arrow-controllers flex gap-x-4 justify-start items-center">
                <div class="prev cursor-pointer">
                    <a (click)="prev()" class="">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect class="duration-[.2s]" width="40" height="40" rx="20" [attr.fill]="(activeIndex === 0) ? 'black' : '#EFEFEF'"/>
                            <path class="duration-[.2s]" d="M23 26L17 20L23 14" [attr.stroke]="(activeIndex === 0) ? 'white' : '#7C7C7C'" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </a>
                </div>
                <div class="next cursor-pointer">
                    <a (click)="next()" class="">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect class="duration-[.2s]" width="40" height="40" rx="20" [attr.fill]="(activeIndex === this.itemsArray.length - 1) ? 'black' : '#EFEFEF'"/>
                            <path class="duration-[.2s]" d="M17 26L23 20L17 14" [attr.stroke]="(activeIndex === this.itemsArray.length - 1) ? 'white' : '#7C7C7C'" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>