<div class="carousel-images-container w-full h-full relative overflow-hidden">
    <div class="image-carousel w-full h-full relative rounded-lg overflow-hidden" #imagesContainerElement>
        <div class="images-scroller flex items-stretch w-max h-full">
            @for (image of productImages; track $index) {
                <div class="image overflow-hidden bg-[#F5F5F5] pt-[0px] h-full xl-1230:w-[304px]"
                [ngClass]="{
                    'w-[171px] md:w-[264px]': size === sizesEnum.SMALL_ON_MOBILE_LARGE_STARTING_ON_TABLET,
                    'w-[264px]': size === sizesEnum.LARGE_ON_BOTH || size === sizesEnum.MEDIUM_ON_MOBILE_LARGE_STARTING_ON_TABLET,
                }"
                >
                    <img
                    class="w-full duration-[.7s] h-full mx-auto object-contain object-top"
                    [src]="image.imagePath.genericPath"
                    [alt]="'Imagem ' + $index + ' do Produto '"
                    >
                    <!-- [ngSrc]="image.imagePath.genericPath"
                    [srcset]="[image.imagePath.allSizes?.thumbnail, image.imagePath.allSizes?.medium, image.imagePath.allSizes?.large]"
                    [width]="image.imagePath.allSizes?.['large-width']"
                    [height]="image.imagePath.allSizes?.['large-height']" -->
                </div>
            }
        </div>
    </div>
    <div
    *ngIf="this.productImages.length > 1"
    class="controllers absolute z-[10] w-[85%] top-[50%] left-[50%] -translate-y-[50%] -translate-x-[50%] justify-between items-center"
    [ngClass]="{
        'hidden md:flex': size === sizesEnum.SMALL_ON_MOBILE_LARGE_STARTING_ON_TABLET,
        'flex': size === sizesEnum.LARGE_ON_BOTH || size === sizesEnum.MEDIUM_ON_MOBILE_LARGE_STARTING_ON_TABLET,
    }"
    >
    
    <!-- *ngIf="productImages.length > 1" -->
    <!-- appProductImageSlideControllerAppearOnTablet
    (appearOnlyFromTablet)="productImagesCarouselControllersEventHandler($event)" -->
        <div class="prev cursor-pointer">
            <a (click)="prev()">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="16" transform="matrix(-1 0 0 1 32 0)" [attr.fill]="(this.activeIndex === 0) ? '#EFEFEF' : 'white'"/>
                    <path d="M19 22L13 16L19 10" [attr.stroke]="(this.activeIndex === 0) ? '#7C7C7C' : 'black'" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
        <div class="next cursor-pointer">
            <a (click)="next()">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="16" [attr.fill]="(this.activeIndex === this.productImages.length - 1) ? '#EFEFEF' : 'white'"/>
                    <path d="M13 22L19 16L13 10" [attr.stroke]="(this.activeIndex === this.productImages.length - 1) ? '#7C7C7C' : 'black'" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
    </div>
</div>