<div class="components-container flex flex-col gap-y-20">
    <div class="banner-section" #bannerSection>
            @defer (on viewport(bannerSection)) {
                <app-banner
                    [bannerItems]="bannerItems" />
            }
        </div>
    <div class="best-seller-section" #bestSellerSection>
        @defer (on viewport(bestSellerSection)) {
            <app-best-seller
            [betterSaleHeaderCategories]="betterSaleHeadercategories"
            [productsArray]="betterSaleProducts"
            />
        }
    </div>
    <div class="media-section" #mediaSection>
        @defer (on viewport(mediaSection)) {
            <app-media />
        }
    </div>
    <div class="new-dimension-section" #newDimensionSection>
        @defer (on viewport(newDimensionSection)) {
            <app-new-dimension
            [productsArray]="betterSaleProducts"
            />
        }
    </div>
    <div class="products" #productsSection>
        @defer (on viewport(productsSection)) {
            <app-products
            [productsHeaderCategories]="productsHeadercategories"
            [productsArray]="allProducts"
            />
        }
    </div>
    <div class="seek-excellence" #seekExcellence>
        @defer (on viewport(seekExcellence)) {
            <app-seek-excellence />
        }
    </div>
</div>