<div class="components-container flex flex-col gap-y-0">
    <div class="banner-section mb-20 h-[620px] md:h-[626px] xl:h-[704px]" #bannerSection>
        <app-banner
        [bannerItems]="bannerItems" />
    </div>
    <div class="best-seller-section pb-20" #bestSellerSection>
        <app-best-seller
        [betterSaleHeaderCategories]="betterSaleHeadercategories"
        [productsArray]="betterSaleProducts"
        />
    </div>
    <div class="media-section pb-20" #mediaSection>
        @defer (on viewport(mediaSection)) {
            <app-media />
        }
    </div>
    <div class="new-dimension-section pb-20" #newDimensionSection>
        <app-new-dimension
        [productsArray]="highlightedProducts"
        />
    </div>
    <div class="products pb-20" #productsSection>
        <app-products
        [productsHeaderCategories]="productsHeadercategories"
        [productsArray]="allProducts"
        />
    </div>
    <div class="seek-excellence mb-16 xl:mb-0" #seekExcellence>
        <app-seek-excellence />
    </div>
    <div class="share-moments bg-primary" #shareMoments>
        <app-share-moments />
    </div>
</div>