<div class="carousel-container relative xl:h-[704px] overflow-hidden">
    <div class="dot-indicators absolute z-[2] bottom-6 w-full flex justify-center md:justify-end md:pr-6">
        <div class="idicators-container w-fit bg-white px-3 py-2 rounded-full flex gap-x-2 justify-center items-center">
            @for (dot of this.bannerItems; track $index) {
                <div class="indicator w-2 h-2 bg-[#EFEFEF] rounded-full"
                    (click)="slideTo($index)"
                    [ngClass]="{
                        'active': $index === activeIndexToDotIndicators
                    }"></div>
            }
        </div>
    </div>
    <div class="container-sections w-full h-full flex justify-between items-stretch">
        <div class="banner-half-1 w-full h-full bg-white">
            <div class="images-container relative mt-0">
                @for (item of evenItems; track $index) {
                    <div class="image absolute duration-[.3s] top-0 left-[50%] -translate-x-[50%]"
                    [ngClass]="{
                        'opacity-0': !item.isActive,
                        'opacity-1': item.isActive
                    }"
                    >
                        <img
                        class="mx-auto max-w-[440px]"
                        [src]="item.imagePath"
                        [alt]="item.alternativeDescription">
                    </div>
                }
            </div>
        </div>
        <div class="banner-half-2 w-full h-full bg-[#F5F5F5]">
            <div class="images-container relative mt-0">
                @for (item of oddItems; track $index) {
                    <div class="image absolute duration-[.2s] top-0 left-[50%] -translate-x-[50%]"
                    [ngClass]="{
                        'opacity-0': !item.isActive,
                        'opacity-1': item.isActive,
                    }"
                    >
                        <img
                        class="mx-auto max-w-[440px]"
                        [src]="item.imagePath"
                        [alt]="item.alternativeDescription">
                    </div>
                }
            </div>
        </div>
    </div>
</div>