.order-modal-bg.appear,
.filter-modal-bg.appear{
    animation: appear .7s forwards ease-in-out;
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        display: block;
    }
}

.order-modal-bg.disappear,
.filter-modal-bg.disappear{
    animation: disappear .7s forwards ease-in-out;
}
@keyframes disappear {
    /* from{
        opacity: 0;
    } */
    50%{
        opacity: 0;
    }
    to{
        opacity: 0;
        display: none;
    }
}


/* Price Range */
.priceRange input[type='range']{
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
}
.priceRange input[type='range']::-webkit-slider-runnable-track{
    background: #F4F4F4;
    height: 4px;
}
.priceRange input[type='range']::-moz-range-track{
    background: #F4F4F4;
    height: 4px;
}

.priceRange input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -8px;
    z-index: 2 !important;
    background: black;
    border: 3px solid black;
    height: 20px;
    border-radius: 100%;
    width: 20px;
}
.input-track {
    z-index: 1; /* Garante que o input-track fique abaixo do thumb */
}