<div class="section-content mt-16">
    <div class="head-content">
        <div class="limited-container" #limitedContainerElementRef>
            <div class="description">
                <h1 class="mb-4 text-[2rem] md:text-[2.5rem] font-['Bricolage-Grotesque'] text-primary font-medium leading-[38.4px] -tracking-[0.64px]">
                    Produtos mais vendidos
                </h1>
                <p class="text-lg leading-[27px] text-primary">
                    Descubra os favoritos dos clientes em nossas coleções
                </p>
            </div>
            <div class="cta my-12 flex md:flex-row-reverse justify-between items-center">
                <div class="order relative p-1 md:block">
                    <button
                    (click)="openOrderModal()"
                    class="text-base bg-white text-primary xl:hidden font-['Bricolage-Grotesque'] flex gap-3 justify-center items-center"
                    >
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 15L12 20L17 15M7 9L12 4L17 9" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Ordenar
                    </button>
                    <button
                    (click)="toggleDesktopOrderModal()"
                    class="text-base bg-white text-primary hidden xl:flex font-['Bricolage-Grotesque'] gap-3 justify-center items-center"
                    >
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 15L12 20L17 15M7 9L12 4L17 9" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Ordenar
                    </button>
                    @if (this.showOrderModal()) {
                        <div
                        class="desktop-order-modal hidden xl:block absolute top-full w-max left-[50%] -translate-x-[50%] z-[2] bg-white p-4 rounded-lg shadow-[0px_16px_24px_0px_rgba(220,220,220,0.20)]"
                        >
                            @for (radio of orderOptions; track $index) {
                                <div class="radio cursor-pointer flex py-2 gap-x-3 justify-start items-center"
                                (click)="orderBy($index)"
                                >
                                    <div class="circle duration-[.3s] w-[6px] bg-[#EFEFEF] h-[6px] rounded-full"
                                    [ngClass]="{
                                        '!bg-black': ($index === activeOrderByIndex),
                                    }"
                                    ></div>
                                    <p class="text-sm">
                                        {{ radio.order }}
                                    </p>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="filters md:block">
                    <button
                    (click)="openFilterModal()"
                    class="text-base bg-primary rounded-full px-4 py-2 text-white font-semibold font-['Bricolage-Grotesque'] flex gap-3 justify-center items-center"
                    >
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 8H12M2 4H14M6 12H10" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Filtros
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content">
        <app-product-cards-container-no-scroll
        [productsArray]="displayableProducts"
        [paddingX]="scrollerPaddingX"
        />
    </div>

    <div class="order-modal-bg w-full xl:hidden h-full fixed top-0 left-0 z-[101] bg-black/40"
    [ngClass]="{
        'hidden': (!this.showOrderModal() && this.firstTimeOpeningOrderModal()),
        'disappear': (!this.showOrderModal() && !this.firstTimeOpeningOrderModal()),
        'appear': this.showOrderModal()
    }"
    ></div>
    <div class="bottom-modal xl:hidden duration-[.7s] p-6 h-[45vh] z-[102] fixed bg-white w-full rounded-t-3xl"
    [ngClass]="{
        'bottom-0': this.showOrderModal(),
        'bottom-[-50%]': !this.showOrderModal(),
    }"
    >
        <div class="modal-header flex justify-between items-center">
            <div class="w-full"></div>
            <div class="title w-full text-center">
                <h4 class="text-primary font-['Bricolage-Grotesque'] text-2xl font-semibold">Ordenar</h4>
            </div>
            <div class="apply w-full text-right">
                <button class="underline" (click)="closeOrderModal()">
                    Aplicar
                </button>
            </div>
        </div>

        <div class="modal-body mt-12">
            <div class="option-1 flex flex-col gap-2">
                @for (radio of orderOptions; track $index) {
                    <div class="radio cursor-pointer flex py-2 gap-x-3 justify-start items-center"
                    (click)="orderBy($index)"
                    >
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <circle class="duration-[.2s]" cx="12" cy="12" r="6" [attr.fill]="($index === activeOrderByIndex) ? 'black' : '#EFEFEF'"/>
                        </svg>
                        <p class="">
                            {{ radio.order }}
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>


    <div class="filter-modal-bg w-full h-full fixed top-0 left-0 z-[101] bg-black/40"
    [ngClass]="{
        'hidden': (!this.showFilterModal() && this.firstTimeOpeningFilterModal()),
        'disappear': (!this.showFilterModal() && !this.firstTimeOpeningFilterModal()),
        'appear': this.showFilterModal()
    }"
    ></div>
    <div class="filter-modal w-full overflow-y-auto no-scroller duration-[.7s] px-6 py-0 h-full md:max-w-[448px] fixed left-0 top-0 z-[103] bg-white"
    [ngClass]="{
        'left-0': this.showFilterModal(),
        'left-[-100%]': !this.showFilterModal()
    }"
    >
        <div class="filter-modal-header pt-6 bg-white sticky top-0 flex justify-end items-center">
            <button
            (click)="closeFilterModal()"
            class="">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="48" height="48" rx="24" fill="#F9F9F9"/>
                    <path d="M29 19L19 29M19 19L29 29" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
        <div class="filter-modal-body flex flex-col gap-y-6">
            <div class="section-title">
                <h1 class="text-primary text-2xl font-bold font-['Bricolage-Grotesque']">
                    Filtros
                </h1>
            </div>
            <div class="gender-section border-t border-[#F5F5F5]">
                <h1 class="py-6 text-lg font-semibold font-['Bricolage-Grotesque'] text-primary">
                    Género
                </h1>
                <div class="checkboxes">
                    @for (gender of this.availableGenders; track $index) {
                        <div class="check-option cursor-pointer py-2 text-primary flex gap-3 justify-start items-center"
                        (click)="this.genderSelection(gender)"
                        >
                            <div class="checkbox w-[18px] h-[18px] bg-[#EFEFEF] duration-[.4s] flex justify-center items-center rounded"
                            [ngClass]="{
                                '!bg-primary': (getTheGenderIndex(gender) !== -1),
                            }"
                            >
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path *ngIf="(getTheGenderIndex(gender) !== -1)" d="M10 3L4.5 8.5L2 6" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <span [ngClass]="{ 'text-primary/60': (getTheGenderIndex(gender) === -1) }">{{ gender | genderTranslation }}</span>
                        </div>
                    }
                </div>
            </div>
            <div class="products-section border-t border-[#F5F5F5]">
                <h1 class="py-6 text-lg font-semibold font-['Bricolage-Grotesque'] text-primary">
                    Produtos
                </h1>
                <div class="checkboxes">
                    @for (category of this.availableProductCategories; track $index) {
                        <div class="check-option cursor-pointer py-2 text-primary flex gap-3 justify-start items-center"
                        (click)="this.categorySelection(category)"
                        >
                            <div class="checkbox w-[18px] h-[18px] bg-[#EFEFEF] duration-[.4s] flex justify-center items-center rounded"
                            [ngClass]="{
                                '!bg-primary': (getTheCategoryIndex(category) !== -1),
                            }"
                            >
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path *ngIf="(getTheCategoryIndex(category) !== -1)" d="M10 3L4.5 8.5L2 6" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <span [ngClass]="{ 'text-primary/60': (getTheCategoryIndex(category) === -1) }">{{ category.name }}</span>
                        </div>
                    }
                </div>
            </div>
            <div class="colors-section border-t border-[#F5F5F5]">
                <h1 class="py-6 text-lg font-semibold font-['Bricolage-Grotesque'] text-primary">
                    Cores
                </h1>
                <div class="checkboxes">
                    @for (color of this.availbaleProductColors; track $index) {
                        <div class="check-option cursor-pointer py-2 text-primary flex gap-3 justify-start items-center"
                        (click)="this.colorSelection(color)"
                        >
                            <div class="checkbox w-[18px] h-[18px] bg-[#EFEFEF] duration-[.4s] flex justify-center items-center rounded"
                            [ngClass]="{
                                '!bg-primary': (getTheColorIndex(color) !== -1),
                            }"
                            >
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path *ngIf="(getTheColorIndex(color) !== -1)" d="M10 3L4.5 8.5L2 6" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <span [ngClass]="{ 'text-primary/60': (getTheColorIndex(color) === -1) }">{{ color.name }}</span>
                        </div>
                    }
                </div>
            </div>
            <div class="sizes-section border-t border-[#F5F5F5]">
                <h1 class="py-6 text-lg font-semibold font-['Bricolage-Grotesque'] text-primary">
                    Tamanhos
                </h1>
                <div class="chips flex flex-wrap gap-2 justify-start items-center">
                    @for (size of this.availableProductSizes; track $index) {
                        <div class="chip w-fit flex justify-center items-center">
                            <button class="text-center px-4 py-2 duration-[.4s] bg-[#EFEFEF] text-primary/60 rounded-full text-sm font-['Bricolage-Grotesque']"
                            (click)="this.sizeSelection(size)"
                            [ngClass]="{
                                '!bg-primary !text-white font-bold': this.getTheSizeIndex(size) !== -1,
                            }"
                            >
                                {{ size.name }}
                            </button>
                        </div>
                    }
                </div>
            </div>
            <div class="price-section border-t border-[#F5F5F5]">
                <h1 class="py-6 text-lg font-semibold font-['Bricolage-Grotesque'] text-primary">
                    Compre por preços
                </h1>
                <div class="priceRange input flex flex-col gap-y-3"> 
                    <div class="input-container relative flex">
                        <input type="range"
                        name="priceRange"
                        class="promotion-range relative w-full top-0"
                        formControlNames="priceRange"
                        [min]="minimumValue"
                        [max]="maximumValue"
                        [(ngModel)]="priceRangeValue"
                        id="priceRange"
                        >
                        <!-- <div class="input-track z-[1] absolute top-0 bg-black h-full"
                        [style.width.%]="(priceRangeValue() * 100 / maximumValue)"
                        ></div> -->
                    </div>
                    <div class="number-preview flex justify-between items-center mt-6">
                        <span class="text-black">{{ priceRangeValue() | replaceBy }}</span>
                        <span class="text-black">{{ maximumValue | replaceBy }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-modal-footer py-6 bg-white sticky bottom-0 flex justify-between items-center">
            <div class="clear-chip">
                <button class="text-primary px-6 py-3 font-medium font-['Bricolage-Grotesque']">
                    Limpar todos
                </button>
            </div>
            <div class="apply-chip ">
                <button class="text-white bg-primary px-6 py-3 font-medium font-['Bricolage-Grotesque'] rounded-full">
                    Aplicar
                </button>
            </div>
        </div>
    </div>
        
</div>