<div class="section-content py-20">
    <div class="title">
        <div class="limited-container !max-w-[358px] md:!max-w-[371px] xl-1230:!max-w-[90%] 2xl-1230:!max-w-[var(--max-w)] 4xl-1230:!max-w-[75%] 5xl-1230:!max-w-[var(--max-w-1536)]">
            <h1 class="text-white xl-1230:max-w-[371px] text-[2rem] text-center xl-1230:text-left font-['Bricolage-Grotesque'] font-semibold leading-[2.4rem] tracking-[-0.64px]">
                Partilhe seus<br class="xl-1230:hidden"> melhores momentos com a Neutro
            </h1>
        </div>
    </div>
    <div class="testimonial-container mt-6">
        <app-testimonial-container
            [testimonials]="testimonials"
        />
    </div>
</div>