<div class="section-content py-20 md:py-[104px]">
    <div class="limited-container flex flex-col xl:flex-row gap-y-10 md:gap-y-8">
        <div class="title-section md:max-w-[563px] xl:h-max xl:sticky xl:top-[130px] md:mx-auto xl:mx-0 flex flex-col gap-y-4 max-w-[358px]">
            <h6 class="font-['Bricolage-Grotesque'] text-sm text-primary">
                Cultura Neutro
            </h6>
            <h1 class="font-['Bricolage-Grotesque'] text-[2rem] md:text-[2.5rem] font-semibold text-primary leading-[38.4px] md:leading-[48px] -tracking-[0.16px] md:-tracking-[0.2px]">
                Uma cultura que inspira você a viver de forma autêntica.
            </h1>
        </div>
        <div class="content-section md:max-w-[563px] xl:max-w-[504px] -mt-5 md:mx-auto">
            <p class="">
                Com um olhar atento às tendências da sociedade moderna. buscamos romper com as normas pre-estabelecidas, conferindo o poder de expressão do ser e cada usuário, através de nossas peças cuidadosamente desenvolvidas  para proporcionar o conforto, qualidade, estilo, confiança e autenticidade.
            </p>
            <p class="">
                Acreditamos que cada pessoa possui uma identidade única e especial, e é por isso que nossas colocções são projectadas para atender a diferentes gostos e necessidades.
            </p>
            <p class="">
                Seja você alguém que prefere visual casual ou busca por um toque de elegância, temos opções incríveis para todos os momentos.
            </p>
            <p class="">
                Por isso, convidamos a fazer parte dessa revolução fashion, onde todos são bem-vindos e a imparcialidade é celebrada. Junta-se a nós e descubra a nova forma de expressar sua personalidade por meio da moda.
            </p>
            <p class="">
                Seja Neutro, seja você mesmo (a)!
            </p>
        </div>
    </div>

    <div class="section-images mt-20">
        <div class="limited-container">
            <div class="images-container relative md:max-w-[552px] md-905:max-w-full mx-auto md-905:mx-0 flex justify-center items-end overflow-hidden bg-[#F9F9F9] rounded-lg w-full h-auto md:h-[21.438rem] md-905:h-[33.25rem] xl:h-[43.75rem]">
                <div class="center-image relative h-full md:h-auto w-auto md:w-[16.438rem] md-905:w-[25.5rem] xl:w-[34.813rem]">
                    <img
                    class="w-full object-contain object-top mt-3 md:mt-0"
                    src="assets/images/static/about-us/center-image.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>