
<div class="carousel-container flex flex-col xl:flex-row-reverse justify-start items-start">
    <div class="carousel-images-section bg-[#F9F9F9] relative h-[620px] md:h-[626px] xl:h-[672px] overflow-hidden">
        <div class="counter-chip xl:hidden absolute z-[2] w-fit bg-white right-6 top-4 text-sm font-['Bricolage-Grotesque'] rounded-full px-4 py-2">
            <p class="">
                {{ activeIndex + 1 }} de {{ this.productImages.length }}
            </p>
        </div>
        <div
        class="arrow-indicators xl:hidden absolute top-[50%] z-[10] -translate-y-[50%] w-full"
        *ngIf="showArrows"
        >
            <div class="limited-container flex justify-between items-center">
                <div class="prev">
                    <button
                        (click)="prev()"
                        [disabled]="activeIndex == 0">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect class="duration-[.6s]" width="40" height="40" rx="20" [attr.fill]="(activeIndex !== 0) ? '#000000' : '#EFEFEF'"/>
                            <path d="M23 26L17 20L23 14" [attr.stroke]="(activeIndex !== 0) ? '#ffffff' : '#7C7C7C'" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                <div class="next">
                    <button
                        (click)="next()"
                        [disabled]="activeIndex == productImages.length - 1">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect class="duration-[.6s]" width="40" height="40" rx="20" [attr.fill]="(activeIndex !== productImages.length - 1) ? '#000000' : '#EFEFEF'" />
                            <path d="M17 26L23 20L17 14" [attr.stroke]="(activeIndex !== productImages.length - 1) ? '#ffffff' : '#7C7C7C'" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="dot-indicators absolute z-[2] xl:px-6 bottom-4 w-full flex justify-center xl:justify-between xl:items-center">
            <div class="idicators-container w-fit h-fit bg-white px-3 py-2 rounded-full flex gap-x-2 justify-center items-center">
                @for (dot of this.productImages; track $index) {
                    <div class="indicator w-2 h-2 bg-[#EFEFEF] rounded-full"
                        (click)="slideTo($index)"
                        [ngClass]="{
                            'active': $index === activeIndex
                        }"></div>
                }
            </div>
            <div
            class="arrow-indicators hidden xl:flex gap-4 justify-start items-center"
            *ngIf="showArrows"
            >
                <div class="prev">
                    <button
                        (click)="prev()"
                        [disabled]="activeIndex == 0">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect class="duration-[.6s]" width="40" height="40" rx="20" [attr.fill]="(activeIndex !== 0) ? '#000000' : '#EFEFEF'"/>
                            <path d="M23 26L17 20L23 14" [attr.stroke]="(activeIndex !== 0) ? '#ffffff' : '#7C7C7C'" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                <div class="next">
                    <button
                        (click)="next()"
                        [disabled]="activeIndex == productImages.length - 1">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect class="duration-[.6s]" width="40" height="40" rx="20" [attr.fill]="(activeIndex !== productImages.length - 1) ? '#000000' : '#EFEFEF'" />
                            <path d="M17 26L23 20L17 14" [attr.stroke]="(activeIndex !== productImages.length - 1) ? '#ffffff' : '#7C7C7C'" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="images-container w-screen xl:w-[532px] overflow-hidden" #imagesContainerElement>
            <div class="images relative flex w-fit">
                @for (item of productImages; track $index) {
                    <div
                    class="image relative w-screen xl:w-[532px] h-full"
                    >
                        <img
                        class="w-full relative md:w-[391px] h-full md:mx-auto object-cover md:object-cover"
                        [ngSrc]="item.imagePath.genericPath"
                        [srcset]="[item.imagePath.allSizes?.thumbnail, item.imagePath.allSizes?.medium, item.imagePath.allSizes?.large]"
                        [width]="item.imagePath.allSizes?.['large-width']"
                        [height]="item.imagePath.allSizes?.['large-height']"
                        >
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="hidden xl:block w-full xl:max-w-[95px] xl:h-[672px]">
        <div class="tiny-boxes-indicators xl:w-fit max-h-[672px] overflow-y-auto no-scroller mt-10 xl:mt-0">
            <div class="boxes flex xl:flex-col gap-4 justify-start items-center">
                @for (item of productImages; track $index) {
                    <div class="box cursor-pointer overflow-hidden w-[72px] h-[72px] rounded-lg border-[1.5px] bg-[#F5F5F5]"
                    (click)="this.slideTo($index)"
                    >
                        <!-- [ngClass]="{
                            ' border-black': $index === this.activeIndex
                        }" -->
                        <img
                        class="max-w-[34px] mx-auto"
                        [ngSrc]="item.imagePath.genericPath"
                        [width]="item.imagePath.allSizes?.['large-width']"
                        [height]="item.imagePath.allSizes?.['large-height']"
                        alt="">
                    </div>
                }
            </div>
        </div>
    </div>
</div>